button{
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: none;
    border-radius:1rem;
    padding: 1rem;
   
    color: white;
    font-size: 1.2rem;
    &:hover{
      color: white;
      backdrop-filter: blur(24px);
      background-color: rgba(65, 206, 245, 0.752);

    }
}