.footer{
    height: fit-content;
    padding: 2rem;
    width: 100%;
    display: flex;
    backdrop-filter: blur(24px);
  
    border-top: 4px solid black;
    // display: none;
z-index: 10;
    justify-content: center;
    align-items: center;
}