.navigation{
    
    ul{
        display: flex;
        gap:1rem;
        list-style: none;
        font-size: 1.2rem;
        li {
           
            
        }
        a{
            text-decoration: none;
            color: black;
            &:hover{
                color:lightblue;
            }
            
        }
    }
    @media (max-width: 60rem) {
       position: absolute;
       height: 100vh;
       padding: 2rem;
       width: 100%;
       top:5rem;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       backdrop-filter: blur(24px);
       ul{
        flex-direction: column;
        gap:2rem;
        font-size: 2rem;


       }

       
     }
   
}